<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Food for Hungry Minds School Fund Raising</title>
        <link href="~/Images/Home/HMS_Logo.png" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap/css") 
        @Scripts.Render("~/bundles/modernizr")
    </head>
    @*@RenderSection("css")*@
    <body>
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <img src="~/Images/Home/HMS_Logo.png" height="45"/>
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <img src="~/Images/Home/FoodForHungryMinds.png" height="45"/>
                    <ul class="nav navbar-nav"></ul>
                    <button type="button" class="btn btn-info btn-sm btn-signin">
                        Sign in
					</button>
                    <!--Sign In Button : Redirects to Sign in dialog box-->
                </div>
				
				<!--Insert Welcome, <Username> Dropdown-->
				
            </div>
		<!--end: nav-->
        </nav>
        
        @RenderBody()

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
</html>
