@model HMSWebApp.ViewModels.VoteEntryViewModel

@using (Html.BeginForm())
{
    <fieldset>
        <legend>New Vote Entry</legend>

        <!-- Last Name Fields -->
        <div class="editor-label">
            @Html.LabelFor(model => model.VoterLastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VoterLastName)
        </div>

        <!-- First Name Fields -->
        <div class="editor-label">
            @Html.LabelFor(model => model.VoterFirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VoterFirstName)
        </div>

        <!-- Email Address Fields -->
        <div class="editor-label">
            @Html.LabelFor(model => model.VoterEmailAddress)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VoterEmailAddress)
        </div>

        <!-- Team Name Fields -->
        <div class="editor-label">
            @Html.LabelFor(model => model.TeamId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.TeamId, Model.Teams)
            @*@Html.EditorFor(model => model.TeamId)*@
        </div>

        <!-- Type Fields -->
        <div class="editor-label">
            @Html.LabelFor(model => model.VoteEntryType)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.VoteEntryType, Model.VoteEntryTypes)
            @*@Html.EditorFor(model => model.VoteEntryType)*@
        </div>

         <!-- Payment Amount Fields -->
        <div class="editor-label">
            @Html.LabelFor(model => model.PaymentAmount)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.PaymentAmount)
        </div>

         <!-- Payment Currency Fields -->
        <div class="editor-label">
            @Html.LabelFor(model => model.PaymentCurrency)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.PaymentCurrency, Model.PaymentCurrencies)
            @*@Html.EditorFor(model => model.PaymentCurrency)*@
        </div>        

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}